{% extends "layout.html" %}
{% block body %}
	 <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Whiteboard To Code</h1>
                        <p class="intro-text">Run your whiteboard code. 
                            <br>Let's get started.</p>
                    </div>
                </div>
            </div>
        </div>
</header>
<!-- About Section -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center">
                <h1 class="mt-5">Upload a picture of the written code</h1>
                <img src="/static/images/ruby-helloworld.jpg" style="max-width:40%;">
             	<br>
                <br>
                <p class="lead">Upload or take a picture. Any picture you'd like. Ensure the code is facing the camera and is zoomed in enough.</p>
                <center>
                <form action="" method=post enctype=multipart/form-data>
        <!-- <input type=file name=file> -->
		        <input class="btn" type=file name=file accept="image/*;capture=camera" value="Take a picture">
 				<br>

		        <div class="custom-submit-btn-div">
		        <input class="btn glyphicon glyphicon-menu-right custom-submit-btn" type=submit value="Submit">
		        </div>
		        </center>
		    </form>
		    <div style="margin-bottom:50px;">&nbsp;</div>
            </div>
        </div>
</div>


{% endblock %}