<!doctype html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="Hackathon project">
    	<meta name="author" content="Trent, Shuman, Linda">
		<title>{{ title }} | Whiteboard to Code</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" >

	    <!-- Custom Fonts -->
	     <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Custom styles for this template -->
	    <style>
	      body {
	        padding-top: 54px;
	      }
	      @media (min-width: 992px) {
	        body {
	          padding-top: 56px;
	        }
	      }
	    </style>

	</head>

	<body id="page-top" data-spy="scroll" >

		{% block body %}{% endblock %}

 	<!-- jQuery -->
    <script src="/static/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <!-- <script src="/static/js/grayscale.min.js"></script> -->
	</body>
	 
</html>